<footer class="footer bg-color-1 ptb-20">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="left floatleft">
                    <p><a href="{% url 'index' %}" target="_blank" style="color: black; text-decoration: none">Prof. Dr. Onur Burak Dursun</a>.
                    </p>
                </div>
                <div class="right social-link floatright">
                    <ul class="clearfix">
                        <li><a href="https://www.linkedin.com/in/onur-burak-dursun-6b148a39?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank">Linkden</a></li>
                        <li><a href="#" target="_blank">Email</a></li>
                        <li><a href="#" target="_blank">Address</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>