{% load static %}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Mim is a Personal Portfolio Template">
    <meta name="keywords"
          content="Personal , Personal portfolio template, Personal portfolio, landing page, material design, portfolio, personal">
    <meta name="author" content="regaltheme.com">

    <title>Onur Burak Dursun</title>

    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}">

    <!-- style css -->
    <link rel="stylesheet" href="{% static 'assets/style.css' %}">
    <!-- modernizr js -->
    <script src="{% static 'assets/js/vendor/modernizr-2.8.3.min.js' %}"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>