{% load static %}
<script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<!-- One Page Nav JS -->
<script src="{% static 'assets/js/one-page-nav.js' %}"></script>
<!-- Waypoints JS -->
<script src="{% static 'assets/js/waypoints.min.js' %}"></script>
<!-- Progressbar JS -->
<script src="{% static 'assets/js/progressbar.js' %}"></script>
<!-- Isotope -->
<script src="{% static 'assets/js/isotope.pkgd.js' %}"></script>
<!-- Isotope -->
<script src="{% static 'assets/js/jquery.validate.min.js' %}"></script>
<!-- Slick Slider JS -->
<script src="{% static 'assets/js/slick.min.js' %}"></script>
<!-- Fancybox JS -->
<script src="{% static 'assets/js/jquery.fancybox.pack.js' %}"></script>
<!-- Plugins JS -->
<script src="{% static 'assets/js/plugins.js' %}"></script>
<!-- main JS -->
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
