{% extends 'Home/base.html' %}
{% load static %}
{% block content %}

    <!-- About Section Start -->
{#    <section class="about-area section-padding light-bg" id="about">#}
    <section class="blog-area bg-color-1 section-padding" id="blog">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-title text-center mb-60">
                        <h2 class="mb-20">About</h2>
                        <div class="horizontal-line">
                            <div class="top"></div>
                            <div class="bottom"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-text-center text-justify">
                    <div class="single-post">
                        {% for about in aboutMe %}
                            <div class="text">
{#                                                                <h3 class="font-26 montserrat weight-medium capitalize mb-10">{{ about.title }}</h3>#}
                                <h5 class="capitalize montserrat weight-regular no-margin">


                                    <p class="mb-1">
                                        {{ about.description1|safe }}
                                    </p>

                                    <div class="mb-1">
                                        <p>{{ about.description2|safe }}</p>
                                    </div>

                                    <div class="separate relative">
                                        <p>{{ about.description3|safe }}</p>
                                    </div>

                                    <p class="mb-1">{{ about.sub_description1|safe }} </p>

                                    <p class="mb-1">{{ about.sub_description2|safe }} </p>
                                </h5>

                            </div>
                        {% endfor %}

                    </div>

                </div>

            </div>
        </div>
    </section>
    <!-- About Section End -->

    <!-- Experience Section Start -->
    <section class="experience-area section-padding bg-color-1">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-title text-center mb-60">
                        <h2 class="mb-20">My Experience</h2>
                        <div class="horizontal-line">
                            <div class="top"></div>
                            <div class="bottom"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for skill in skills %}
                    {% if skill.isActive == True %}
                        <div class="col-xs-12 col-sm-6 mobile-mb-30 mb-30">
                            <div class="left">
                                <div class="single-experi">
                                    <div class="left-text floatleft">
                                        <h4 class="montserrat weight-medium mb-5 capitalize">{{ skill.title }}</h4>
                                        <p class="montserrat weight-medium">{{ skill.startedDate|date:"m Y" }} {{ skill.endDate|date:"m Y" }}</p>
                                    </div>
                                    <div class="right-text">
                                        <i class="zmdi zmdi-check-circle"></i>
                                        <h3 class="capitalize font-20">{{ skill.name }}</h3>
                                        <p>{{ skill.description|truncatewords:10 }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-xs-12 col-sm-6 mb-30">
                            <div class="right">
                                <div class="single-experi">
                                    <div class="left-text floatleft">
                                        <h4 class="montserrat weight-medium mb-5 capitalize">{{ skill.title }}</h4>
                                        <p class="montserrat weight-medium">{{ skill.startedDate|date:"m Y" }} {{ skill.endDate|date:"m Y" }}</p>
                                    </div>
                                    <div class="right-text">
                                        <i class="zmdi zmdi-check-circle"></i>
                                        <h3 class="capitalize font-20">{{ skill.name }}</h3>
                                        <p>{{ skill.description|truncatewords:10 }} </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}


                {% endfor %}


            </div>
        </div>
    </section>
    <!-- Experience Section End -->



{% endblock %}