{% extends 'Home/base.html' %}
{% load static %}
{% block content %}
{#<section class="testimonial-area light-bg section-padding">#}
<section class="testimonial-area bg-color-1 section-padding" id="blog">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-title text-center mb-60">
                        <h2 class="mb-20">Testimonial</h2>
                        <div class="horizontal-line">
                            <div class="top"></div>
                            <div class="bottom"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-xs-12 col-sm-10 col-md-8 col-text-center">
                    <div id="one-item" class="one-item">
                        <div class="single-slide">
                            <div class="slide-text pb-60 plr-10">
                                <div class="img mb-20">
                                    <img src="{% static 'assets/img/testimonial/1.png' %}" alt="Louis Morrison"/>
                                </div>
                                <div class="content">
                                    <h4 class="montserrat weight-bold">Louis Morrison</h4>
                                    <h6 class="montserrat weight-bold mb-10">rEGAL THEME</h6>
                                    <p class="line-height-28">Nemo enim ipsam voluptatem quia voluptas sit aspernatur
                                        aut odit aut fugit, sed quia <br/> consequuntur magni dolores eos qui ratione
                                        voluptatem sequi nesciunt</p>
                                </div>
                            </div>
                        </div>
                        <div class="single-slide">
                            <div class="slide-text pb-60 plr-10">
                                <div class="img mb-20">
                                    <img src="{% static 'assets/img/testimonial/1.png' %}" alt="Louis Morrison"/>
                                </div>
                                <div class="content">
                                    <h4 class="montserrat weight-bold">Louis Morrison</h4>
                                    <h6 class="montserrat weight-bold mb-10">rEGAL THEME</h6>
                                    <p class="line-height-28">Nemo enim ipsam voluptatem quia voluptas sit aspernatur
                                        aut odit aut fugit, sed quia <br/> consequuntur magni dolores eos qui ratione
                                        voluptatem sequi nesciunt</p>
                                </div>
                            </div>
                        </div>
                        <div class="single-slide">
                            <div class="slide-text pb-60 plr-10">
                                <div class="img mb-20">
                                    <img src="{% static 'assets/img/testimonial/1.png' %}" alt="Louis Morrison"/>
                                </div>
                                <div class="content">
                                    <h4 class="montserrat weight-bold">Louis Morrison</h4>
                                    <h6 class="montserrat weight-bold mb-10">rEGAL THEME</h6>
                                    <p class="line-height-28">Nemo enim ipsam voluptatem quia voluptas sit aspernatur
                                        aut odit aut fugit, sed quia <br/> consequuntur magni dolores eos qui ratione
                                        voluptatem sequi nesciunt</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}