{% extends 'Home/base.html' %}
{% load static %}
{% block content %}
    <section class="blog-area bg-color-1 section-padding" id="blog">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-title text-center mb-60">
                        <h2 class="mb-20">Our Blog</h2>
                        <div class="horizontal-line">
                            <div class="top"></div>
                            <div class="bottom"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="mobile-mb-30 col-xs-12 col-sm-4">
                    <div class="single-blog clearfix">
                        <a href="light-blog-details.html"><img src="{% static 'assets/img/blog/1.jpg' %}" alt="Blog Image"/></a>
                        <div class="date-comment plr-20 ptb-20 clearfix">
                            <div class="left floatleft">
                                <h6 class="capitalize montserrat no-margin weight-regular"><i
                                        class="zmdi zmdi-calendar"></i> 20 Jun 2017</h6>
                            </div>
                            <div class="right floatright">
                                <h6 class="capitalize montserrat no-margin weight-regular"><i
                                        class="zmdi zmdi-comments"></i> 5 Comments</h6>
                            </div>
                        </div>
                        <div class="blog-title clearfix">
                            <div class="left floatleft">
                                <a href="light-blog-details.html">
                                    <h4 class="capitalize montserrat no-margin weight-regular">Suffered alteration in
                                        some</h4>
                                </a>
                            </div>
                            <div class="right floatright">
                                <a href="light-blog-details.html"><i class="zmdi zmdi-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mobile-mb-30 col-xs-12 col-sm-4">
                    <div class="single-blog clearfix">
                        <a href="light-blog-details.html"><img src="{% static 'assets/img/blog/2.jpg' %}" alt="Blog Image"/></a>
                        <div class="date-comment plr-20 ptb-20 clearfix">
                            <div class="left floatleft">
                                <h6 class="capitalize montserrat no-margin weight-regular"><i
                                        class="zmdi zmdi-calendar"></i> 20 Jun 2017</h6>
                            </div>
                            <div class="right floatright">
                                <h6 class="capitalize montserrat no-margin weight-regular"><i
                                        class="zmdi zmdi-comments"></i> 5 Comments</h6>
                            </div>
                        </div>
                        <div class="blog-title clearfix">
                            <div class="left floatleft">
                                <a href="light-blog-details.html">
                                    <h4 class="capitalize montserrat no-margin weight-regular">Suffered alteration in
                                        some</h4>
                                </a>
                            </div>
                            <div class="right floatright">
                                <a href="light-blog-details.html"><i class="zmdi zmdi-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="single-blog clearfix">
                        <a href="light-blog-details.html"><img src="{% static 'assets/img/blog/2.jpg' %}" alt="Blog Image"/></a>
                        <div class="date-comment plr-20 ptb-20 clearfix">
                            <div class="left floatleft">
                                <h6 class="capitalize montserrat no-margin weight-regular"><i
                                        class="zmdi zmdi-calendar"></i> 20 Jun 2017</h6>
                            </div>
                            <div class="right floatright">
                                <h6 class="capitalize montserrat no-margin weight-regular"><i
                                        class="zmdi zmdi-comments"></i> 5 Comments</h6>
                            </div>
                        </div>
                        <div class="blog-title clearfix">
                            <div class="left floatleft">
                                <a href="light-blog-details.html">
                                    <h4 class="capitalize montserrat no-margin weight-regular">Suffered alteration in
                                        some</h4>
                                </a>
                            </div>
                            <div class="right floatright">
                                <a href="light-blog-details.html"><i class="zmdi zmdi-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}